[mysqld]
innodb_use_native_aio=1
innodb_buffer_pool_size=12800000000
innodb_buffer_pool_instances=8
innodb_write_io_threads=8
innodb_read_io_threads=8
innodb_flush_log_at_trx_commit=2
innodb_flush_method=O_DIRECT
max_allowed_packet=4M
init-file=${HOME}/.mysqlrootpw
autocommit=0
local-infile = 1

[mysql]
local-infile = 1

[client]
user=root
password='my-secret-pw'